.asideList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & .logoLink {
        max-width: 100px;
    }
    & .dropdown {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px 0;
        font-weight: 600;
        font-size: 14px;
        & .title {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            padding-bottom: 12px;
        }
        & .arrow {
            transition: transform 0.2s ease;
            transform: rotate(180deg);
        }
        & .arrowOpen {
            transition: transform 0.2s ease;
        }
    }
    & .listItemsActive {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.1s ease;
    }
    & .listItems {
        max-height: 600px;
    }
    & .listItem {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 13px;
        & .link {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 13px;
            cursor: pointer;
            width: 100%;
            border-radius: 8px;
            padding: 12px;
        }
        & .link:hover {
            background-color: #e8f3fe;
            & svg path {
                stroke: var(--accent2);
            }
        }
        &:first-child {
            & .link:hover svg path {
                fill: var(--accent2);
                stroke: none;
            }
        }
        & .icon {
            max-width: 16px;
        }
    }
}
