.button {
    padding: 6px;
    border-radius: var(--bradBtn);
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

    background-color: var(--lightGray);

    min-width: 36px;
    min-height: 34px;

    border: 1px solid var(--gray3);
    & svg {
        & path {
            stroke: var(--gray2) !important;
        }
    }

    &:has(span) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    &.accent {
        background-color: var(--accent1);
        & svg {
            & path {
                stroke: var(--white) !important;
            }
        }
    }

    &.profile {
        padding: 6px 16px;
        gap: 12px;
        & p {
            color: var(--gray2);
            font-weight: 600;
        }
        & span {
            width: 24px;
            height: 24px;
            border-radius: 100px;
            overflow: hidden;
            background-color: var(--gray2);
        }
    }
}
