.page_title {
    padding: 32px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray3);
    & .last_update {
        font-weight: 600;
        color: var(--gray4);
        & span {
            color: var(--black);
        }
    }
}
.wrapper {
    background-color: var(--gray3);
    overflow-y: auto;
}
