.asideList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    & .dropdown {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px 0;
        font-weight: 600;
        font-size: 14px;
        & .title {
            display: flex;
            justify-content: space-between;
            padding-bottom: 12px;
            & .icons{
                display: flex;
                align-items: center;
                gap: 8px;
                & .plus{
                    transition: transform 0.2s ease;
                    cursor: pointer;
                }
                & .plus:hover {
                    & svg path {
                        fill: var(--accent2);
                    }
                }
                & .arrow {
                    min-width: 16px;
                    min-height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    & svg{
                        width: 10px;
                        height: 6px;
                        transition: transform 0.2s ease;
                        transform: rotate(0deg);
                    }
                }
                & .arrow.open {
                    & svg{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    & .listItemsActive {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.1s ease;
    }
    & .listItems {
        max-height: 600px;
    }
    & .listItem {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 13px;
        & .link {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 13px;
            cursor: pointer;
            width: 100%;
            border-radius: var(--bradBtn);
            padding: 12px;
        }
        & .link:hover {
            background-color: var(--accent3);
            & svg path {
                stroke: var(--accent2);
            }
        }
        & .activeLink {
            background-color: var(--accent3);
            color: var(--accent2);
            & svg path {
                stroke: var(--accent2);
            }
        }
        &:first-child {
            & .link:hover svg path {
                fill: var(--accent2);
                stroke: none;
            }
        }
        & .icon {
            max-width: 16px;
        }
        & .dot{
            min-width: 16px;
            min-height: 16px;
            max-width: 16px;
            max-height: 16px;
            border-radius: 4px;
        }
    }
}
