:root {
    --white: #ffffff;

    --accent1: #4397fa;
    --accent2: #4593f9;
    --accent3: #e8f3fe;

    --black: #303030;
    --black2: #270143;

    --gray: #f8f8f8;
    --gray2: #5f6166;
    --gray3: #eaeaea;
    --gray4: #b5b5b5;
    --lightGray: #f3f3f3;

    --brad_small: 4px;
    --brad: 24px;
    --bradBtn: 8px;
}
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    position: relative;

    font-family: Inter, Arial, sans-serif;
    font-synthesis-weight: none;
    font-synthesis-style: none;
}
* {
    position: relative;
}
*::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}
*::-webkit-scrollbar-track {
    background: var(--gray3);
}
*::-webkit-scrollbar-thumb {
    border-radius: var(--brad);
    background-color: var(--accent2);
}

html {
    position: relative;
    scroll-behavior: smooth;
}
body {
}

body,
html {
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    color: var(--black);
    text-align: left;

    background-color: var(--gray3);
    /* background-color: var(--white); */
    overflow: hidden;
    height: 100%;
}
html,
body,
#root {
    height: 100%;
    margin: 0;
}

#root {
    display: grid;
    gap: 1px;

    grid-template-areas:
        "aside header"
        "aside  main";
    grid-template-columns: 280px 4fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    min-height: 0;
}

#root > header {
    grid-area: header;
}
#root > aside {
    grid-area: aside;
}
#root > main {
    grid-area: main;

    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
        color: var(--accent2);
    }
    &:not([class]):hover {
        color: var(--accent1);
    }
    &:has(svg) {
        display: flex;
    }
    &:has(svg)::after {
        content: none;
    }
    &:has(span) span {
        display: inherit;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
a:has(> img),
div:has(> img) {
    display: inherit;
}
svg {
    fill: transparent;
    /* height: auto;
    width: auto; */
    width: 100%;
    height: 100%;
    display: block;
}

ol,
ul,
li {
    padding: 0;
    list-style: none;
    marker: none;
}
ol {
    counter-reset: list-counter;
}
a:has(img, div)::after {
    content: none;
}
/*  */
/*  */
/*  */
/*  */
h1,
h2,
h3,
h4,
h5 {
    line-height: 120%;
    font-weight: 600;
    color: var(--black);
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 28px;
}

p > * {
    display: inline-block;
}

p,
a {
    line-height: 160%;
    font-weight: 400;
    font-size: 12px;
    color: var(--black);
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    /* height: 100%; */
    width: 100%;
}
section * {
    z-index: 1;
}
button {
    background: transparent;
}

@media (max-width: 1280px) {
    .wrapper {
        max-width: 95%;
    }
}
@media (max-width: 1024px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 36px;
    }
}
@media (max-width: 992px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
    p {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
}
